<html>
 <head>
 
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Multiplication table </title>
    <link rel="stylesheet" href="bootstrap.min.css">
	
 </head>
 
<body class="container-fluid" style="background-color:ghostwhite; "><br>
 <div class="panel panel-info panel-body">
 
	
		<div class="multi">
		<h4>The Multiplication table - 1 to 30 </h4>		<hr>	
		<br>

<table class="table table-bordered">		<h4> 1 to 10 </h4>

<tr v-for="i in 10" > 
<td> {{ i * 1 }} </td>  <td> {{ i * 2 }}  </td> <td> {{ i * 3 }} </td>  <td> {{ i * 4 }} </td> <td> {{ i * 5 }} </td> 
 <td> {{ i * 6 }} </td> <td> {{ i * 7 }} </td>  <td> {{ i * 8 }} </td> <td> {{ i * 9 }} </td>  <td> {{ i * 10 }} </td>
 </tr> 
  </table>
		
		<table class="table table-bordered">		<h4> 11 to 20 </h4>

<tr v-for="i in 10" > 
<td> {{ i * 11 }} </td>  <td> {{ i * 12 }}  </td> <td> {{ i * 13 }} </td>  <td> {{ i * 14 }} </td> <td> {{ i * 15 }} </td> 
 <td> {{ i * 16 }} </td> <td> {{ i * 17 }} </td>  <td> {{ i * 18 }} </td> <td> {{ i * 19 }} </td>  <td> {{ i * 20 }} </td>
 </tr> 
  </table>
  
  <table class="table table-bordered">		<h4> 21 to 30 </h4>

<tr v-for="i in 10" > 
<td> {{ i * 21 }} </td>  <td> {{ i * 22 }}  </td> <td> {{ i * 23 }} </td>  <td> {{ i * 24 }} </td> <td> {{ i * 25 }} </td>  
<td> {{ i * 26 }} </td> <td> {{ i * 27 }} </td>  <td> {{ i * 28 }} </td> <td> {{ i * 29 }} </td>  <td> {{ i * 30 }} </td>
 </tr> 
  </table>
  
 </div>
 
</div>

 </body>


 <script src="vue.js"></script>


<script type="text/javascript">
new Vue({
 el: '.multi'
 })
</script>

</html>
